body{
    background-color: black;
    color: white;
    padding: 10px;
}

form{
    display: flex;
    /* justify-content: space-around; */
    gap: 50px;

}
input{
    background-color: black;
    color: white;
}

.subBtn{
    margin-top: 30px;
    margin-left: 16px;
    background-color: gr;
}
.subBtn input{
    background-color: rgb(95, 210, 95);
    color: black;
}
#table{
    color: white;
    border: 1px solid white;
    /* margin-top: 50px; */
    margin-left: 20px;
    border-collapse: collapse;
    width: 300px;
}
.row{
    border: 1px solid white;
    /* background-color: aqua; */
}


#table td:first-child {
    width: 50%;
}

/* Second column (40% width) using :nth-child(2) */
#table td:nth-child(2) {
    width: 30%;
}

#table td:nth-child(3) {
    width: 20%;
}

.row-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: auto;
    margin-top: 20px;
}

